<main class="contenedor-formularios">
    <!-- Modal para el mensaje de advertencia -->
    <% if (mensajes.advertencia) { %>
       <div id="modal-advertencia" class="common-modal active">
           <div class="container-modal">
               <a href="#" class="close-modal">&times;</a>
               <h1><i class="fa fa-exclamation-circle"></i> Aviso</h1>
               <%- mensajes.advertencia %> <!-- Renderizar HTML sin escapar -->
           </div>
       </div>
   <% } %>
    <!-- Modal para el mensaje de éxito -->
    <% if (mensajes.exito) { %>
       <div id="modal-exito" class="common-modal active">
           <div class="container-modal">
               <a href="#" class="close-modal">&times;</a>
               <h1><i class="fa fa-check-circle"></i><%= mensajes.exito %></h1>
           </div>
       </div>
   <% } %>
   
   <div class="wrapper contenedor cambiar-password">
       <h1><%- nombrePagina %></h1>
       <form class="default-form perfil" action="/cambiar-password" method="POST">
           <div class="contenedor-password">
               <div class="campo">
                   <input type="password" id="anterior" name="anterior" placeholder="Contraseña actual">
                   <input type="password" id="nuevo" name="nuevo" placeholder="Nueva Contraseña">
               </div>
               <!-- Checkbox para mostrar/ocultar contraseñas -->
               <div class="show-pass">
                   <input type="checkbox" id="togglePassword"> Mostrar
               </div>
           </div>
           
           <div class="campo enviar">
               <input type="submit" class="btn btn-naranja" value="Cambiar contraseña">
           </div>
       </form>
   </div>
<script src="/js/modal.js"></script>
<script src="/utils/showPassword.js"></script>
</main>